# Import necessary packages

In [1]:
import pandas as pd

# Load the dataset

In [2]:
df = pd.read_csv("../data/raw/sales_data.csv")

In [3]:
df.head()

,OrderID,OrderDate,CustomerID,CustomerSegment,ProductCategory,ProductName,UnitPrice,Quantity,Discount,Region,PaymentMode,Revenue
0,100001,2023-01-01,1102,Consumer,Furniture,Jeans,14066.28,7,0.20,West,Card,78771.17
1,100002,2023-01-02,1179,Home Office,Furniture,Chair,6654.11,8,0.24,South,Cash,40456.99
2,100003,2023-01-03,1092,Corporate,Furniture,T-Shirt,33870.19,8,0.27,West,Card,197801.91
3,100004,2023-01-04,1014,Consumer,Clothing,Table,47210.32,7,0.24,East,UPI,251158.90
4,100005,2023-01-05,1106,Consumer,Clothing,Table,13594.61,5,0.01,East,Cash,67293.32

In [4]:
df.shape

(1000, 12)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   OrderID          1000 non-null   int64
 1   OrderDate        1000 non-null   object
 2   CustomerID       1000 non-null   int64
 3   CustomerSegment  1000 non-null   object
 4   ProductCategory  1000 non-null   object
 5   ProductName      1000 non-null   object
 6   UnitPrice        1000 non-null   float64
 7   Quantity         1000 non-null   int64
 8   Discount         1000 non-null   float64
 9   Region           1000 non-null   object
 10  PaymentMode      1000 non-null   object
 11  Revenue          1000 non-null   float64
dtypes: float64(3), int64(3), object(6)
memory usage: 93.9+ KB

In [6]:
df.describe()

,OrderID,CustomerID,UnitPrice,Quantity,Discount,Revenue
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,100500.500000,1100.697000,25996.969780,5.081000,0.147790,112527.410490
std,288.819436,57.629249,14126.945452,2.553225,0.086497,90902.374225
min,100001.000000,1000.000000,222.050000,1.000000,0.000000,865.500000
25%,100250.750000,1050.750000,14228.602500,3.000000,0.070000,36313.370000
50%,100500.500000,1103.000000,26559.285000,5.000000,0.150000,89377.245000
75%,100750.250000,1149.250000,38117.397500,7.000000,0.220000,173184.992500
max,101000.000000,1199.000000,49977.290000,9.000000,0.300000,438092.400000