# Import necessary packages

In [1]:
import pandas as pd
import numpy as np

# Load the dataset

In [2]:
df = pd.read_csv("../data/raw/sales_data.csv")

# Intentionally Break the Dataset

## Introduce missing values

In [3]:
df.loc[np.random.choice(df.index, 50), 'UnitPrice'] = np.nan
df.loc[np.random.choice(df.index, 30), 'Region'] = np.nan

## Corrupt datatypes

In [4]:
df.loc[np.random.choice(df.index, 20), 'Quantity'] = 'unknown'

C:\Users\rishi\AppData\Local\Temp\ipykernel_4604\3885637998.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'unknown' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[np.random.choice(df.index, 20), 'Quantity'] = 'unknown'

## Duplicate rows

In [5]:
df = pd.concat([df, df.sample(10)], ignore_index=True)

In [6]:
df.shape

(1010, 12)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   OrderID          1010 non-null   int64
 1   OrderDate        1010 non-null   object
 2   CustomerID       1010 non-null   int64
 3   CustomerSegment  1010 non-null   object
 4   ProductCategory  1010 non-null   object
 5   ProductName      1010 non-null   object
 6   UnitPrice        960 non-null    float64
 7   Quantity         1010 non-null   object
 8   Discount         1010 non-null   float64
 9   Region           981 non-null    object
 10  PaymentMode      1010 non-null   object
 11  Revenue          1010 non-null   float64
dtypes: float64(3), int64(2), object(7)
memory usage: 94.8+ KB

In [8]:
df.isnull().sum()

OrderID             0
OrderDate           0
CustomerID          0
CustomerSegment     0
ProductCategory     0
ProductName         0
UnitPrice          50
Quantity            0
Discount            0
Region             29
PaymentMode         0
Revenue             0
dtype: int64

In [9]:
df.duplicated().sum()

np.int64(10)

## Fix Missing Values

In [10]:
df['UnitPrice'].fillna(df['UnitPrice'].median(), inplace=True)

In [11]:
df['Region'].fillna(df['Region'].mode()[0], inplace=True)

## Fix Datatype Corruption

In [12]:
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce')

In [13]:
df['Quantity'].fillna(df['Quantity'].median(), inplace=True)

## Remove Duplicates

In [14]:
df.drop_duplicates(inplace=True)

In [15]:
df.shape

(1000, 12)

In [16]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   OrderID          1000 non-null   int64
 1   OrderDate        1000 non-null   object
 2   CustomerID       1000 non-null   int64
 3   CustomerSegment  1000 non-null   object
 4   ProductCategory  1000 non-null   object
 5   ProductName      1000 non-null   object
 6   UnitPrice        1000 non-null   float64
 7   Quantity         1000 non-null   float64
 8   Discount         1000 non-null   float64
 9   Region           1000 non-null   object
 10  PaymentMode      1000 non-null   object
 11  Revenue          1000 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 101.6+ KB

OrderID            0
OrderDate          0
CustomerID         0
CustomerSegment    0
ProductCategory    0
ProductName        0
UnitPrice          0
Quantity           0
Discount           0
Region             0
PaymentMode        0
Revenue            0
dtype: int64

## Save Cleaned Dataset

In [18]:
df.to_csv("../data/cleaned/sales_data_cleaned.csv", index=False)