# Import necessary packages

In [1]:
import pandas as pd

# Load the dataset

In [2]:
df = pd.read_csv("../data/cleaned/sales_data_cleaned.csv")

In [3]:
df['OrderDate'] = pd.to_datetime(df['OrderDate'])

# Time-Based Features

In [4]:
df['Year'] = df['OrderDate'].dt.year
df['Month'] = df['OrderDate'].dt.month
df['Day'] = df['OrderDate'].dt.day
df['Weekday'] = df['OrderDate'].dt.day_name()

# Revenue Quality Features

## Revenue per item

In [5]:
df['RevenuePerItem'] = df['Revenue'] / df['Quantity']

## Discount impact

In [6]:
df['DiscountAmount'] = df['UnitPrice'] * df['Quantity'] * df['Discount']

# Customer-Level Features

## Orders per customer

In [ ]:
customer_orders = df.groupby('CustomerID')['OrderID'].count()
df['OrdersPerCustomer'] = df['CustomerID'].map(customer_orders)

## Customer Lifetime Value

In [8]:
customer_ltv = df.groupby('CustomerID')['Revenue'].sum()
df['CustomerLifetimeValue'] = df['CustomerID'].map(customer_ltv)

# High / Low Revenue Flag

In [9]:
threshold = df['Revenue'].median()
df['HighRevenueOrder'] = df['Revenue'] > threshold

# Validate New Features

In [10]:
df[['Revenue', 'RevenuePerItem', 'DiscountAmount']].describe()

             Revenue  RevenuePerItem  DiscountAmount
count    1000.000000     1000.000000     1000.000000
mean   112527.410490    22108.944500    19680.884049
std     90902.374225    12502.727484    22173.346510
min       865.500000      190.963333        0.000000
25%     36313.370000    11491.646250     4271.272600
50%     89377.245000    22167.019111    11661.559200
75%    173184.992500    31843.917500    26366.956750
max    438092.400000    78755.640000   121480.749000

In [11]:
df[['OrdersPerCustomer', 'CustomerLifetimeValue']].head()

   OrdersPerCustomer  CustomerLifetimeValue
0                  6              479184.77
1                  6              423637.77
2                  7              845917.45
3                  7             1014337.69
4                  3              203380.20

# Save Feature-Engineered Data

In [12]:
df.to_csv("../data/cleaned/sales_data_features.csv", index=False)